<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Форма ввода данных</title>
  <h3 class="text-muted">
    <span style="color:#ffffff;">
      <span style="font-size: 12px;">
        <span style="font-family: Times New Roman, Times, serif;"><em>Композиционные материалы</em></span>
      </span>
    </span>
  </h3>
</head>
<body>
  <form action="" method="post">
    <table align="center" bgcolor="#2C6F2D" border="3" cellpadding="10" cellspacing="5" width="500px" style="border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
      <tbody>
        <tr>
          <td><label for="param1" style="color:#ffffff; font-size: 14px;">Значение плотности, кг/м3</label></td>
          <td><input type="number" name="param1" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param2" style="color:#ffffff; font-size: 14px;">Значение модуля упругости, ГПа</label></td>
          <td><input type="number" name="param2" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param3" style="color:#ffffff; font-size: 14px;">Значение количества отвердителя, м.%</label></td>
          <td><input type="number" name="param3" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param4" style="color:#ffffff; font-size: 14px;">Значение содержания эпоксидных групп, %_2</label></td>
          <td><input type="number" name="param4" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param5" style="color:#ffffff; font-size: 14px;">Значение температуры вспышки, С_2</label></td>
          <td><input type="number" name="param5" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param6" style="color:#ffffff; font-size: 14px;">Значение поверхностной плотности, г/м2</label></td>
          <td><input type="number" name="param6" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param7" style="color:#ffffff; font-size: 14px;">Значение модуля упругости при растяжении, ГПа</label></td>
          <td><input type="number" name="param7" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param8" style="color:#ffffff; font-size: 14px;">Значение прочности при растяжении, МПа</label></td>
          <td><input type="number" name="param8" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param9" style="color:#ffffff; font-size: 14px;">Значение потребления смолы, г/м2</label></td>
          <td><input type="number" name="param9" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param10" style="color:#ffffff; font-size: 14px;">Значение угла нашивки, град</label></td>
          <td><input type="number" name="param10" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param11" style="color:#ffffff; font-size: 14px;">Значение шага нашивки</label></td>
          <td><input type="number" name="param11" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
        <tr>
          <td><label for="param12" style="color:#ffffff; font-size: 14px;">Значение плотности нашивки</label></td>
          <td><input type="number" name="param12" placeholder="Введите значение" step="any" required style="padding: 8px; border-radius: 5px; width: 100%; border: 1px solid #ccc; box-sizing: border-box; font-size: 14px;" /></td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px;">
      <input type="submit" value="Готово" style="padding: 10px 20px; border-radius: 5px; background-color: #4CAF50; color: white; font-size: 16px; border: none; cursor: pointer;">
    </div>
  </form>

  <table align="center" bgcolor="#2C6F2D" border="3" cellpadding="10" cellspacing="5" width="500px" style="border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); margin-top: 20px;">
    <tbody>
      <tr>
        <th align="center">
          <span style="font-family: Times New Roman, Times, serif; color: #ffffff; font-size: 16px;">Результат прогноза:</span>
          {% if message %}
            <p>{{ message }}</p>
          {% endif %}
        </th>
      </tr>
    </tbody>
  </table>

  <div style="text-align: center;
